body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin: 0;

}

.Weather-container{
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background-color: #f9f9f9;

}
 input[type="text"]{
    padding: 8px;
    font: 16px;
    margin-right: 8px;
 }
 button{
    padding: 8px 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;

 }
 button:hover{
    background-color: #0056b3;
 }
 .weather-info{
    margin-top: 20px;
 }